:root {
    --primary: #7FAAE4;
    --secondary: #834DB7;
    --tertiary: #34283F;
}

*, *::before, *::after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--secondary);
    background: var(--tertiary)
}

.heading-bar {
    display: flex;
    justify-content: space-between
}

.header {
    margin: 0;
    line-height: 1;
}

.header--top {
    color: var(--primary)
}

.header--bottom {
    color: var(--secondary)
}

.movie-title {
    color: var(--primary)
}

.movie-list {
    list-style: none;
}

.movie-name {
    position: fixed;
    right: 0;
    bottom: 0;
}

table,
th,
td {
    min-height: 175px;
    border: 1px solid var(--secondary);
}

.movie-cards {
    display: flex;
}

.movie-card-container {
    background: var(--tertiary);
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

img {
    max-height: 400px;
    max-width: auto;
}

p {
    margin: 0
}

.table-header {
    color: var(--primary)
}

.table-body {
    color: var(--secondary)
}

.heycinema {
    position: fixed;
}

.searchbar {
    position: fixed;
    right: 0;
}