:root {
    --primary: #7FAAE4;
    --secondary: #834DB7;
    --tertiary: #34283F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--secondary);
    background: var(--tertiary)
}

.header {
    margin: 0;
    line-height: 1;
}

.header--top {
    color: var(--primary)
}

.header--bottom {
    color: var(--secondary)
}

.movie-title {
    color: var(--primary)
}

.movie-list {
    list-style: none;
}

table,
th,
td {
    border: 1px solid var(--secondary);
}

table {
    /* width: 350px;
    height: 200px; */
}

.movie-cards {
    display: flex;
}

.movie-card-container {
    margin-right: 50px;
}

img {
    /* width: 350px; */
}

p {
    margin: 0
}